div{
 

  h2 {
    color: navy;
  }
  h3 {
    color: navy;
  }

  body {
    background-color: azure;
    margin-left: 20px;
  }

  table,
  th,
  td {
    color: black;
    background-color: azure;

  }

}